<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="authorityUrl" value="https://login.windows.net/common/" />
    <add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
    <add key="apiUrl" value="https://api.powerbi.com/" />
    <add key="embedUrlBase" value="https://app.powerbi.com/" />
    <!--Test of Power BI Gateway AAD App id in place of client ID-->
    <!--Can be replaced with dedicated app id-->
    <add key="clientId" value="ea0616ba-638b-4df5-95b9-636659ae5121" />
    <!--NOTE: required only for AAD auth prompt option-->    
    <add key="redirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient" />
    <!-- NOTE: providing active windows  session user name speeds up login-->
    <add key="pbiUsername" value="user@domain.com" />    
  </appSettings>
</configuration>